name: Notifications to Telegram
on:
  push:
    branches:
      - main
jobs:
  notify:
    name: Notify
    runs-on: ubuntu-latest
    steps:
      - name: debug
        run: echo "${{ toJSON(github.event) }}"
        shell: bash
      - name: Telegram Message Notify
        uses: appleboy/telegram-action@v0.1.1
        with:
          to: ${{ secrets.TELEGRAM_TO }}
          token: ${{ secrets.TELEGRAM_TOKEN }}
          message: |
            Обновления в репозитории '[${{ github.repository }}](${{ github.event.repository.html_url }})':

# ${{ join(github.event.commits.*.message, '\n\n') }}
