name: Notifications to Telegram
on:
  push:
    branches:
      - main
jobs:
  notify:
    name: Notify
    runs-on: ubuntu-latest
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v2

      - name: Format commits text
        id: format_text
        run: echo "::set-output name=text::$(echo 'HOHOHO!')"
        shell: bash

      - name: Telegram Message Notify
        uses: appleboy/telegram-action@v0.1.1
        env:
          COMMITS_TEXT: ${{ steps.format_text.outputs.text }}
        with:
          to: ${{ secrets.TELEGRAM_TO }}
          token: ${{ secrets.TELEGRAM_TOKEN }}
          format: html
          message: |
            Обновления в репозитории <b><i><a href="${{ github.event.repository.html_url }}">${{ github.repository }}</a></i></b>
